input.dirty:valid,
input.dirty:in-range {
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

input.dirty:invalid,
input.dirty:out-of-range {
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}

input.dirty:invalid::-webkit-input-placeholder {
    color:#000;
}
input.dirty:invalid:-moz-placeholder {
    color:#000;
}
input.dirty:invalid::-moz-placeholder {
    color:#000;
}
input.dirty:invalid:-ms-input-placeholder {
    color:#000;
}
